:root {
    --main-rows: 32;
    --main-cols: 32;
}


body {
    background-image: url("congruent_outline.png");
}

h1 {
    font-family: 'Nova Script', cursive;
    text-align: center;
    color: beige;
}

.buttonHolder {
    padding: 15px;
    text-align: center;
}

.button {
    border-radius: 15px;
    display: inline-block;
    background-color: beige;
    border: none;
    color: black;
    font-family: 'Nova Script', cursive;
    text-align: center;
    color: black;
}

.frame {
    display: grid;
    margin: auto;
    width: 40vw;
    height: 40vw;
    grid-template-columns: repeat(var(--main-cols), 1fr);
    grid-template-rows: repeat(var(--main-rows), 1fr);
    text-align: center;
    border:30px solid red;
    border-radius: 15px;
}
